.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50%;
}

.movie-list-item, .fav-item {
  list-style: none;
}

.browser {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 0px;
  padding: 0px;
}

.header-row, .favorites {
  grid-column: 1 / -1;
}

/* copied favorites CSS from lab 3 */
.favorites {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-flow: column;

  align-items: center;
  grid-gap: 5px;

  padding: 5px;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.details-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  padding: 0px;
}

.details-poster {
  height: 400px;
}

.grid-container img {
  height: 75px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0px;
  padding: 0px;
}

.grid-container > div {
  text-align: center;
  width: 70%;
  display: flex;
}

.grid-row button {
  text-align: center;
}

.movie-title {
  width: 50%;
}

.movie-year, .movie-rating {
  width: 20%;
}

.filters {
  text-align: left;
}

.filters div {
  margin-left: 8px;
}

.filters .labelh {
  font-weight: bold;
}

.movie-title p {
  text-align: left;
}

.favorites img {
  height: 50px;
}

/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss_grid-template-columns */

.grid-container {}