.App {
  text-align: center;
}

.page {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}

.fade-appear, .fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active, .fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}


a>p:hover {
  text-decoration-color: white;
}

.fav-item {
  list-style: none;
}

a>figure, a>figure>img {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, a>p, p {
  color: white;
}

Nav {
  border-radius: 5px;
}

div.card-columns {
  margin-top: 1em;
}

/* fixed cut off bottom border */
/*https://github.com/twbs/bootstrap/issues/27124#issuecomment-509009622*/
.accordion div.card:only-child { border-bottom: 1px solid rgba(0, 0, 0, 0.125); border-radius: calc(0.25rem - 1px); }

/* copied favorites CSS from lab 3 */
.favorites {
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 15px;

  border-radius: 5px;
  margin: 1em 1.2em 0em 1.2em;
  padding: 1.5em 2em 1.5em 2em;
  color: white;
  background-color: rgb(52, 58, 64);
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.details-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  padding: 0px;
}

.details-poster {
  height: 400px;
}

.grid-row button {
  text-align: center;
}

.filters #title {
  max-width: 15em;
  border-radius: 4px;
  border-width: 1px;
  border-color: lightgrey;
  border-style: solid;
  box-shadow: none;
  padding: .375rem .375rem;

}

.filters>div>div>div>div.input-group {
  margin-bottom: 0.5rem;
}

.filters {
  text-align: left;
}

.labelh {
  font-weight: bold;
}

.sort-by h5 {
  font-size: medium;
  text-transform: uppercase;
  color: lightgrey;
}

.sort-by h5:hover {
  color: black;
}

Button h5 {
  margin: 0;
}

.favorites img {
  height: 50px;
}

.table-area {
  height: 100vh;
  overflow-y: scroll;
}